@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alata', 'Josefin-Sans';
}

a {
    text-decoration: none;
    color: white;
    transition: 1s all;
}

a:hover {
    border-bottom: 1px solid white;
}

#banner {
    height: 100vh;
    background: url('images/desktop/image-hero.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 100px 100px 150px;
    position: relative;
}

#banner:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0, 0, 0, 0.322);
    opacity: 1;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header nav {
    display: flex;
    align-items: center;
}

header a {
    margin-left: 20px;
}

.flag img {
    width: 40px;
}


blockquote {
    width: 60%;
    padding: 30px;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    border: 2px solid white;
    z-index: 1;
}

#intro {
    height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0px 50px;
    margin: 200px 0px;
}

.reverse {
    flex-direction: row-reverse;
}

#intro article {
    position: relative;
    right: 80px;
    padding: 0px 10px;
}

#intro article h1 {
    font-size: 3rem;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}

#intro article p {
    color: hsl(0, 0%, 55%);
}

#intro img {
    clip-path: polygon(0% 0%, 0% 100%, 77% 100%, 77% 37%, 100% 37%, 100% 100%, 33% 100%, 100% 100%, 100% 0%);
}

#about {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 50px;
    margin: 200px 0px;
}

#about img {
    height: 400px;
    border-radius: 20px;
    margin: 100px;
}


#about article h1 {
    font-size: 3rem;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}

#about article p {
    color: hsl(0, 0%, 55%);
}


#creations {
    padding: 0px 50px;
    margin: 100px 0px;
}

#creations div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

button {
    width: 150px;
    height: 40px;
    border: 1px solid black;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 1s all;
    background-color: white;
}

button:hover {
    background-color: black;
    color: white;
}

#creations ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

li {
    position: relative;
    cursor: pointer;
}

li:hover {
    opacity: 0.5;
}

li span {
    width: 60%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    word-wrap: break-word;
    color: white;
}

.last {
    justify-self: end;
}

footer {
    height: 30vh;
    background: black;
    color: white;
    padding: 20px 50px;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social img {
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
}

.links {
    color: hsl(0, 0%, 55%);
}

.links nav a {
    margin-right: 20px;
}